# Bucket and write configuration — uncomment one block at a time

# Source.Coop
# SOURCE_COOP_URL must be populated.
# SOURCE_COOP_URL=https://data.source.coop
# BUCKET=us-west-2.opendata.source.coop
# AWS_PROFILE=source-coop

# Auspatious LDN custom domain
# SOURCE_COOP_URL must be empty.
SOURCE_COOP_URL=
BUCKET=data.ldn.auspatious.com
AWS_PROFILE=ausp-ldn-admin

# DEP Staging
# SOURCE_COOP_URL must be empty.
# SOURCE_COOP_URL=
# BUCKET=dep-public-staging
# AWS_PROFILE=dep-staging-admin

# DEP Production
# SOURCE_COOP_URL must be empty.
# SOURCE_COOP_URL=
# BUCKET=dep-public-data
# AWS_PROFILE=dep-prod-admin
