# Bucket and write configuration — uncomment one block at a time

# # Source.Coop
# BUCKET=us-west-2.opendata.source.coop
# AWS_PROFILE=source-coop

# # Auspatious LDN custom domain
# BUCKET=data.ldn.auspatious.com
# AWS_PROFILE=ausp-ldn-admin

# # DEP Staging
# BUCKET=dep-public-staging
# AWS_PROFILE=dep-staging-admin

# DEP Production
BUCKET=dep-public-data
AWS_PROFILE=dep-prod-admin
