# Bucket and write configuration — uncomment one block at a time

# Source.Coop
# SOURCE_COOP_URL=https://data.source.coop  # Must be populated.
# BUCKET=us-west-2.opendata.source.coop

# Auspatious LDN custom domain
SOURCE_COOP_URL= # Must be empty.
BUCKET=data.ldn.auspatious.com

# DEP Staging
# SOURCE_COOP_URL= # Must be empty.
# BUCKET=dep-public-staging

# DEP Production
# SOURCE_COOP_URL= # Must be empty.
# BUCKET=dep-public-data
